[build]
builder = "nixpacks"

[deploy]
startCommand = "prisma db push --accept-data-loss & sleep 10 && next start"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
